{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
<!DOCTYPE html>
<html {{#_lang}}lang="{{_lang}}"{{/_lang}}>
{{>partials/head}}
<body data-spy="scroll" data-target="#affix" data-offset="50" class="dark-theme">
  {{{_body}}}
  {{>partials/scripts}}
</body>
</html>
